@charset "UTF-8";
/*==========Змінні для кольорів==========*/
:root {
  --btn-blue: #188CE8;
  --accent-color: #2196F3;
  --accent-color-white: #FFFFFF;
  --accent-color-grey: #757575;
  --accent-color-black: #212121;
  --color-grey: #2F303A;
  --accen-team: #F5F4FA;
  --fon-portfolio: #E5E5E5;
  --icon-grey: #AFB1B8;
  --main-font: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*=========Body=========*/
body {
  font-family: var(--main-font);
  color: #212121;
}

/*Підкреслення силки*/
.link {
  text-decoration: none;
}

/*Маркери списків ul*/
.list {
  list-style: none;
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__conect {
  display: block;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
    margin: 0 auto;
  }
  .container-portfolio {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container-portfolio {
    display: flex;
    justify-content: center;
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container__conect {
    display: flex;
    text-align: left;
  }
  .container-portfolio {
    width: 1200px;
  }
}

.but-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50% 50%;
  color: var(--accent-color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.conect-close {
  fill: var(--accent-color-black);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.conect {
  display: block;
}

.conect-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
  margin-top: 60px;
  margin-bottom: 20px;
}

.social-conect {
  fill: var(--accent-color-white);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link-conect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link-conect:hover, .social-link-conect:focus {
  background-color: var(--accent-color);
}

.social-link-conect:hover .social-conect,
.social-link-conect:focus .social-conect {
  fill: var(--accent-color-white);
}

@media screen and (min-width: 768px) {
  .conect-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .conect {
    margin-left: 70px;
  }
}

.form-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--accent-color-white);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form-title-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

.modal-footer-input {
  width: 93.75%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2F303A;
  color: var(--accent-color-white);
  margin-bottom: 20px;
}

.form-footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.social-conect-icon {
  fill: var(--accent-color-white);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .modal-footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-modal {
    display: flex;
  }
  .modal-footer-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .form-footer {
    display: block;
  }
  .form-footer .form-title-footer {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

/*----------ICON------------*/
.contacts__icon-convert {
  margin-right: 10.85px;
  fill: #757575;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contacts__tel:hover .contacts__icon-smartphone,
.contacts__tel:focus .contacts__icon-smartphone,
.contacts__mail:hover .contacts__icon-convert,
.contacts__mail:focus .contacts__icon-convert {
  fill: var(--accent-color);
}

.contacts__icon-smartphone {
  margin-right: 10.46px;
  fill: #757575;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) {
  .contacts__icon-convert {
    width: 14px;
    height: 10px;
    margin-right: 7px;
  }
  .contacts__icon-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color-black);
  display: block;
}

.logo_mark {
  color: var(--accent-color);
}

.footer-section .logo {
  color: var(--accent-color-white);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 609px;
  padding: 40px;
  background-color: var(--accent-color-white);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal-form-section {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:hover + .icon-input,
.modal-form-input:focus + .icon-input {
  fill: var(--accent-color);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-input:hover, .modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-message::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:hover, .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal-form-section {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:hover + .icon-input,
.modal-form-input:focus + .icon-input {
  fill: var(--accent-color);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-input:hover, .modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-message::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:hover, .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  margin-right: 7px;
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background: url("../image/checkbox.svg") var(--accent-color) no-repeat center center;
}

.modal-form-term:focus + .modal-form-check-desc::before {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-blue);
  color: var(--accent-color-white);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--accent-color-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--accent-color-black);
  margin-bottom: 50px;
  text-align: center;
}

.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: initial;
  color: var(--accent-color-black);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__icon {
  fill: var(--icon-grey);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--accent-color-white);
}

.social-list__item {
  margin-right: 10px;
}

.advantage-section {
  display: block;
  padding-top: 60px;
  padding-bottom: 94px;
}

.advantages__item {
  display: block;
  margin-bottom: 30px;
}

.advantages__group {
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-black);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-grey);
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    max-width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
  .advantages__item:nth-child(n+2) {
    margin-bottom: 0;
  }
  .advantage__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-black);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  .advantage__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-grey);
  }
}

@media screen and (min-width: 1200px) {
  .advantages .advantages__item {
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
  .advantages__group {
    max-width: 270px;
  }
}

.client-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-color-white);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.client-section .container {
  flex-direction: column;
}

.yaco,
.tagline,
.company,
.foster,
.brand,
.tag {
  fill: var(--icon-grey);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.client-list__item {
  margin-right: 6.67%;
  margin-bottom: 6.67%;
  width: 46.66%;
}

.client-list__item:nth-child(2n) {
  margin-right: 0;
}

.client-list__item:nth-child(n+4) {
  margin-bottom: 0;
}

.client-section .section-title {
  margin-bottom: 30px;
}

.client-list__link {
  display: flex;
  border: solid 1px #AFB1B8;
  border-radius: 5px;
  height: 90px;
  align-items: center;
  justify-content: center;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.client-list__link:hover, .client-list__link:focus {
  border: solid 1px var(--accent-color);
}

.client-list__link:hover svg,
.client-list__link:focus svg {
  fill: var(--accent-color);
}

.yaco,
.tagline,
.company,
.foster,
.brand,
.tag {
  fill: var(--icon-grey);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) {
  .client-list .client-list__item {
    width: 226px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-list .client-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .client-list .client-list__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    width: 1200px;
  }
  .client-section {
    padding-bottom: 94px;
  }
  .client-list .client-list__item {
    width: 170px;
  }
  .client-list .client-list__item:nth-child(3n) {
    margin-right: 30px;
  }
}

.features-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .features-section {
    display: block;
  }
  .features-block {
    display: block;
  }
  .features {
    display: flex;
    padding-bottom: 86px;
  }
  .features__item {
    margin-right: 30px;
    width: 370px;
    position: relative;
  }
  .features__item:last-child {
    margin-right: -30px;
  }
  .features-section .container {
    display: block;
  }
}

.footer-section {
  background-color: var(--color-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer-address {
  display: flex;
  flex-direction: column;
}

.footer-address {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
  margin-top: 20px;
  margin-bottom: 8px;
}

.mail-footer,
.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.mail-footer {
  margin-bottom: 8px;
}

.tel-footer {
  margin-top: 10px;
}

.footer-section {
  background-color: var(--color-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-footer-address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-address {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .conect {
    margin-top: 20px;
  }
  .container-footer-address .form-footer {
    align-items: baseline;
  }
}

.header {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation {
  display: none;
}

.contacts__item {
  display: none;
}

.batton-burger,
.menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.batton-burger:hover,
.batton-burger:focus {
  fill: var(--accent-color);
}

.batton-burger__icon {
  width: 40px;
  height: 40px;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-close-btn__icon {
  width: 40px;
  height: 40px;
}

.menu-close-btn__icon:hover, .menu-close-btn__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 48px 40px;
  background-color: var(--accent-color-white);
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms linear;
  z-index: 999;
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.mobile-menu__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  color: var(--accent-color-black);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--accent-color);
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-contacts-list__mail {
  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.menu-contacts-list__tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--accent-color-grey);
}

.menu-contacts-list__item {
  margin-bottom: 32px;
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-sicial-list__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.menu-sicial-list__item:last-child {
  border-right: none;
}

.menu-sicial-list__item__end {
  margin-right: -20px;
}

.menu-social-list__item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .batton-burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #ECECEC;
  }
  .nav-header {
    display: flex;
    align-items: baseline;
  }
  .navigation {
    display: flex;
    margin-left: 88px;
    margin-right: 88px;
  }
  .navigation__item {
    margin-right: 50px;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-black);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    position: relative;
  }
  .navigation__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .navigation__link:hover::after {
    transform: scaleX(1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .navigation__link_current {
    color: var(--accent-color);
  }
  .navigation__link_current:after {
    transform: scaleX(1);
  }
  .contacts {
    display: inline;
  }
  .contacts__item {
    display: block;
    margin-bottom: 10px;
  }
  .contacts__mail,
  .contacts__tel {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: var(--accent-color-grey);
  }
  .contacts__mail:hover,
  .contacts__mail:focus,
  .contacts__tel:hover,
  .contacts__tel:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
  .contacts__item {
    margin-bottom: 0;
  }
}

/*================section-heading==================*/
.hero {
  background-color: #2F303A;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/mobile/heromob.jpg);
  height: 400px;
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/mobile/heromob.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--accent-color-white);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/tablet/herotab.jpg);
    max-width: 768px;
    height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/tablet/herotab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/desctop/hero.jpg);
    max-width: 1600px;
    height: 600px;
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/desctop/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
  }
  .hero__title {
    font-size: 44px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 66px;
  padding-bottom: 46px;
}

.portfolio-list__item {
  margin-right: 8px;
  color: var(--accent-color-white);
  margin-bottom: 15px;
}

.portfolio-list__item:nth-child(n+4) {
  margin-bottom: 0;
}

.portfolio-list__button {
  color: #212121;
  background-color: var(--accen-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-list__button:hover, .portfolio-list__button:focus {
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
}

.portfolio-modal {
  display: block;
}

.portfolio-modal__item {
  margin-bottom: 30px;
  background: var(--accent-color-white);
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.portfolio-modal__image {
  width: 100%;
}

.portfolio-modal__overlay {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-modal__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 64px 24px 64px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-modal__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--accent-color-white);
}

.portfolio-modal__item:hover .portfolio-modal__card {
  transform: translateY(0);
}

.portfolio-modal__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--accent-color-black);
  margin-bottom: 4px;
}

.portfolio-modal__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color-grey);
}

.portfolio-modal__info {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-bottom: 36px;
  }
  .portfolio-section .container {
    justify-content: center;
  }
  .portfolio-list__item:last-child {
    margin-right: -8px;
  }
  .portfolio-modal__item {
    width: 354px;
    margin-right: 30px;
    margin-left: 0;
  }
  .portfolio-modal__item:nth-child(2n) {
    margin-right: -30px;
  }
  .portfolio-modal__item:nth-child(n+9) {
    margin-right: 0;
    margin-left: 0;
  }
  .portfolio-modal__image {
    width: 354px;
  }
  .portfolio-modal {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-bottom: 50px;
  }
  .portfolio-list__item {
    margin-bottom: 0;
  }
  .portfolio-modal__item {
    width: 322px;
  }
  .portfolio-modal__item:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio-modal__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-modal__item:nth-child(n+7) {
    margin-bottom: 0;
  }
  .portfolio-modal__image {
    width: 322px;
  }
  .portfolio-modal {
    justify-content: center;
  }
}

.team-section .container {
  display: block;
}

.team {
  display: block;
}

.team-section {
  padding-top: 102px;
  padding-bottom: 60px;
  background: var(--accen-team);
}

.team__item {
  background-color: var(--accent-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team__img {
  width: 100%;
}

.team-user {
  padding: 34px 32px 30px 32px;
}

.team-user__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--accent-color-grey);
  text-align: center;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    margin-right: 30px;
    width: 354px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team__item {
    width: 270px;
    margin-right: 30px;
  }
  .team .team__item:last-child {
    margin-right: -30px;
  }
  .team__img {
    width: 270px;
  }
}
/*# sourceMappingURL=main.css.map */