// .advantages {
//     display: flex;
//     flex-wrap: nowrap;
// }
// .advantage-section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
// .advantages__item {
//     width: 270px;
//     margin-right: 30px;
//     margin-right: 30px;
//     &:last-child {
//         margin-right: 0;
//     }
// }
// .advantages__group {
//     display: flex;
//     width: 270px;
//     height: 120px;
//     background-color: #F5F4FA;
//     justify-content: center;
//     align-items: center;
// }
// .advantage__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--accent-color-black);
//     margin-bottom: 10px;
//     margin-top: 33px;
// }
// .advantage__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--accent-color-grey);
// }
//========Для мобильных телефонов========
.advantage-section {
    display: block;
    padding-top: 60px;
    padding-bottom: 94px;
}

.advantages__item {
    display: block;
    margin-bottom: 30px;
}

.advantages__group {
    display: flex;
    height: 120px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
}

.advantage__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-black);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.advantage__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-grey);
}

//===  Меню "HERO" для tablet  ===============
@media screen and (min-width: 768px) {
    .advantages {
        display: flex;
        flex-wrap: wrap;
    }
    .advantages__item {
        max-width: 354px;
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(n+2) {
            margin-bottom: 0;
        }
    }
    .advantage__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color-black);
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: left;
    }
    .advantage__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-color-grey);
    }
}

//===  Меню "Advantages" для Desctop  ===============
@media screen and (min-width: 1200px) {
    .advantages .advantages__item {
        max-width: 270px;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .advantages__item:last-child {
        margin-right: 0;
    }
    .advantages__group {
        max-width: 270px;
    }
}