.address-list {
    margin-top: 20px;
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-white);
    margin-bottom: 9px;
}

.mail-footer,
.link-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}

.mail-footer {
    margin-bottom: 9px;
}