.conect {
    display: block;
}

// .conect-title {
//     text-transform: uppercase;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: var(--accent-color-white);
//     margin-bottom: 21px;
// }
.conect-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color-white);
    margin-top: 60px;
    margin-bottom: 20px;
}

.social-conect {
    fill: var(--accent-color-white);
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-link-conect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
    &:hover .social-conect,
    &:focus .social-conect {
        fill: var(--accent-color-white);
    }
}

//===  Меню conect для планшетов tablet  ===============
@media screen and (min-width: 768px) {
    .conect-title {
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: auto;
    }
}

//===  Меню conect для Desctop  ===============
@media screen and (min-width: 1200px) {
    .conect {
        margin-left: 70px;
    }
}