    // .form-footer {
    //     margin-left: auto;
    // }
    // .footer-form-modal {
    //     display: flex;
    // }
    .form-title-footer {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        letter-spacing: 0.03em;
        color: var(--accent-color-white);
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    
    .modal-footer-input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        background-color: #2F303A;
        color: var(--accent-color-white);
        margin-bottom: 20px;
    }
    
    // .form-footer-btn {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 200px;
    //     height: 50px;
    //     font-weight: 900;
    //     font-size: 16px;
    //     line-height: 1.87;
    //     letter-spacing: 0.06em;
    //     color: var(--accent-color-white);
    //     background: #2196F3;
    //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    //     border-radius: 4px;
    //     margin-left: 12px;
    // }
    .form-footer-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-weight: 900;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--accent-color-white);
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-conect-icon {
        fill: var(--accent-color-white);
        transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        margin-left: 10px;
    }
    
    //===  Меню Form-footer для DESCTOP ===============
    @media screen and (min-width: 1200px) {
        .footer-form-modal {
            display: flex;
        }
        .modal-footer-input {
            margin-bottom: 0;
            margin-right: 12px;
        }
        .form-footer {
            display: block;
        }
        .form-footer .form-title-footer {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }