.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: var(--accent-color-white);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
}

.modal-form-section {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    &:hover+.icon-input,
    &:focus+.icon-input {
        fill: var(--accent-color);
        transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: block;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.14;
        color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.modal-form-field {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
}

.modal-form-section {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    &:hover+.icon-input,
    &:focus+.icon-input {
        fill: var(--accent-color);
        transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: block;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.14;
        color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    &::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid #000000;
        margin-right: 7px;
    }
}

.modal-form-term:checked+.modal-form-check-desc::before {
    background: url("../image/checkbox.svg") var(--accent-color) no-repeat center center;
}

.modal-form-term:focus+.modal-form-check-desc::before {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

// .hero__button {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     color: var(--accent-color-white);
//     background-color: var(--accent-color);
//     cursor: pointer;
//     display: block;
//     text-align: center;
//     letter-spacing: 0.06em;
//     border: 0;
//     width: 200px;
//     height: 50px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     margin-left: auto;
//     margin-right: auto;
//     transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
//     &:hover,
//     &:focus {
//         background-color: var(--btn-blue);
//         color: var(--accent-color-white);
//     }
// }
//======Для мобильной версии==========
.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--accent-color-white);
    background-color: var(--accent-color);
    cursor: pointer;
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    // &:hover,
    // &:focus {
    //     background-color: var(--btn-blue);
    //     color: var(--accent-color-white);
    // }
}

//===  Меню Modad для Tablet ===============
@media screen and (min-width: 768px) {
    .modal {
        width: 450px;
        height: 609px;
    }
}

//===  Меню Modad для DESCTOP ===============
@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }
}