.section-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: var(--accent-color-black);
    margin-bottom: 50px;
    text-align: center;
}

.about-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: initial;
    color: var(--accent-color-black);
    text-align: center;
    margin-bottom: 10px;
}

//===  Features title  для DESCTOP ===============
@media screen and (min-width: 1200px) {
    .section-title {
        font-size: 36px;
        line-height: 1.16;
    }
}