h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


/*=========Body=========*/

body {
    font-family: var(--main-font);
    color: #212121;
}


/*Підкреслення силки*/

.link {
    text-decoration: none;
}


/*Маркери списків ul*/

.list {
    list-style: none;
    font-style: normal;
}