        // .container {
        //     width: 1200px;
        //     padding-left: 15px;
        //     padding-right: 15px;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
        .container {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        // .container-portfolio {
        //     padding-left: 15px;
        //     padding-right: 15px;
        // }
        .container__conect {
            display: block;
            text-align: center;
        }
        
        @media screen and (min-width: 480px) {
            .container {
                width: 480px;
                margin: 0 auto;
            }
            .container-portfolio {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        
        @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
            .container-portfolio {
                display: flex;
                justify-content: center;
                width: 768px;
                margin: 0 auto;
            }
        }
        
        @media screen and (min-width: 1200px) {
            .container {
                width: 1200px;
            }
            .container__conect {
                display: flex;
                text-align: left;
            }
            .container-portfolio {
                width: 1200px;
            }
        }