/*==========Змінні для кольорів==========*/

:root {
    --btn-blue: #188CE8;
    --accent-color: #2196F3;
    --accent-color-white: #FFFFFF;
    --accent-color-grey: #757575;
    --accent-color-black: #212121;
    --color-grey: #2F303A;
    --accen-team: #F5F4FA;
    --fon-portfolio: #E5E5E5;
    --icon-grey: #AFB1B8;
    --main-font: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;
}